*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; 
	box-sizing: border-box;
	color: #343A40;
}
a{
	text-decoration: none;
}
.logo{
	margin-left: 40.5px;
}
.header{
	text-transform: uppercase;
	width: 100%;
	height: 150px;
	background-color: #f8f8f8;
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}
.menu{
	display: flex;
	margin-top: 65px;
	margin-right: 90px;
}
.menu_user{
	margin: 0 auto;
	text-decoration: none;
	padding: 0 5px 0 5px;
	width: 40px;
}
.menu_user:hover{
	opacity: 0.6;
	transition: .7s;
}
.menu_user:first-child{
	margin-right: 3px;
}
li {
	list-style: none;
	font-weight: bold;
}
.cataloge>ul{
	margin-top: 50px;
	height: 34%;
	background-color: #f8f8f8;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.main_list_cataloge{
	height: 50px;
	background-color: #f8f8f8;
	margin: 50px;
	padding: 15px;
	text-align: center;
}
.sub_cataloge{
	transform: scaleY(0);
	transform-origin: 0 0;
	position: absolute;
	left:421px;
	top: 100px;
	width: 831px;
	background-color: #f8f8f8;
	border-bottom: 2px groove ;
	border-left: 2px groove ;
	border-right: 2px groove;
	border-color: #973A40; 
	padding: 25px;
	display: flex;
	justify-content: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 0 0 5px 5px;
}
.main_list_cataloge:hover .sub_cataloge{
	transform: scaleY(1);
	transition: 1s;
}
.main_list_cataloge:hover >a{
	opacity: 0.6;
	transition: 0.9s;
	color: #973A40;
}
.sub_cataloge>li{
	margin: 25px;
	font-weight: normal;
	opacity: 1;
}
.sub_list_cataloge:hover{
	opacity: 0.6;
	transition: 0.9s; 
}

.containerMain{
	min-height: 650px;
	width: 100%;
	margin: 0 auto;
	background-color: #973A40;
	padding-top: 40px;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	color: #343A40;
}
.mainPhotoBlock{
	width: 80%;
	height: 700px;
	margin: 0 auto;
	background-color: grey;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 25px;

}
.blockTextMain{
	text-align: justify;
	font-size: 35px;
	text-transform: uppercase;
}
.blockTextMain p{
	margin: 75px;
	font-family: 'Cormorant Garamond', serif;
	font-weight: bold;
	color: #343A40;
}
#collagePhotoMain{
	width: 600px;
	height: 600px;
}
.mainPhotoBlockMax{
	width: 100%;	
	margin: 0 auto;
	
	display: flex;
	align-items: center;
	justify-content: center;
}
#collagePhotoMainMax{
	width: 100%;
	height: 719px;
	margin: 50px 25px 50px 25px;
}
.catalogeBlock{
	width: 15%;
	background-color: #f8f8f8;
	position: absolute;
	top: 150px;
	text-align: center;
}

#start_session_block{
	margin: 0 auto;
	padding: 125px 40px;
	width: 90%;
	background-color:#973A40;
	display: flex;
	justify-content: space-around;
	font-family: 'Open Sans', sans-serif;
}
#start_session_block a{
	color: #f8f8f8;
}
#sign_in_block{
	padding: 35px;
	width: 350px;
	background-color: #973A40;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 5px;
	color: black;
	text-align: center;
}
h3, h2, h1{
	color: #f8f8f8;
}
input {
	width: 85%;
	margin-top: 20px;
	margin-left: 15px;
    padding: 10px 15px;
	border: 0px;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	vertical-align: top;
}

input:focus{
	outline: none;
}
button{
	height: 30px;
	font-size: 20px;
	margin-top: 25px;
	width: 30%;
	background-color: #343A40;
	color: #f8f8f8;
	border: 0px;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
button:hover{
	background-color: black;
	transition: 0.8s;
}

#logout_button_account{
	margin: 45px auto 10px;
}
#logout_button_account:hover{
	background: darkcyan;

}

#sign_up_block{
	padding: 35px;
	width: 400px;
	background-color: #973A40;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 5px;
	color: #f8f8f8;
	text-align:left;
}
#sign_up_block>p{
	margin-top: 10px;
	color: white;
	font-size: 15px;
}
#sign_up_button{
	width: 45%;
	margin-top: 15px;
}
#registration_link{
	height: 30px;
	font-size: 20px;
	margin-top: 15px;
	width: 45%;
	background-color: #343A40;
	border: 0px;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	text-align: center;
}
#registration_link:hover{
	background-color: black;
	transition: 0.8s;
}

#sign_up_form_registration{
	width: 25%;
	margin: 0 auto;	
	margin-top: 50px;
	text-align: center;
	padding: 35px;
	background-color: #973A40;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 5px;
	color: #f8f8f8;
}
#sign_up_button{
	margin-top: 25px;;
	width: 50%;
}
#sign_up_button>a{
	color: #f8f8f8;
}

/*Стилизация фотоальбома*/
.photo_album_block{
	width: 80%;
	margin: 0 auto;
	background-color: #f5f5f5;
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.photo_album_block img{
	margin: 35px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*Стилизация корзины*/
.basket_block{
	min-height: 400px;
	width: 80%;
	margin: 0 auto;
	padding: 30px;
	background-color: #343A40;
	font-family: 'Roboto', sans-serif;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.header_basket{
	vertical-align: middle;
	padding: 15px 45px 15px 45px;
	border-bottom: 2px #f5f5f5 solid;
	display: flex;
	justify-content: space-between;
}
#sum{
	padding: 20px 0 5px 15px;
	width: 20%;
}

.left_header h1{
	border-bottom: 2px darkcyan solid;
	width: 100%;
	padding: 0 65px 4px 15px;
	font-size: 22px;
}

.right_header{
	width: 45%;
	padding-top: 5px;
	padding-left: 15px;
	text-align: center;
}
.right_header p{
	margin: 0 auto;

	padding: 0;
}


.basket_button{
	border-radius: 0;
	width: 48%;
	text-align: center;
	vertical-align: middle;
	align-items: center;
	font-size: 18px;
	background: darkcyan;
	margin-right:2px;
}

#edit_basket_block{
	display: none;
	position: absolute;
	left: 10%;
	padding: 45px;
	top: 20%;
	width: 80%;
	background: #f8f8f8;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#edit_basket_block h1{
	color: black;
	width: 30%;
	margin: 0 auto;
	font-size: 22px;
	border-bottom: 2px black solid;
	text-align: center;
	padding: 5px;
}

.list_products_in_basket{
	background: #b8b8b8;
	width: 40%;
	padding: 35px;
}

.list_products_in_basket select{
	font-size: 17px;
	font-size: inherit;
	padding: .2em;
	padding-right: 2.5em;
	border: 0;
	border-radius: 3px;
	text-indent: 0.01px;
}

.list_products_in_basket p{
	margin-top: 8px;
}



.edit_basket_block p{
	color: black;
}

.edit_basket:hover{
	background: #025353;
	transition: .7s;
}

#sum{
	width: 100%;
}

.list_products{
	width: 100%;
	margin: 0 auto;
	padding: 45px;
}
.product_in_basket{
	width: 100%;
	margin-bottom: 25px;
	padding-bottom: 10px;

	display: flex;
	justify-content: left;
}

.image_info_block{
	width: 24%;
	background: darkcyan;
}

.image_info_block:hover{
	opacity: 0.7;
	transition: .5s;
}

.image_product_in_basket{
	width: 100%;
	height: 350px;
	overflow: hidden;
}

.info_about_product_basket{
	padding: 15px;
	width: 100%;
}

.info_about_product_basket #product_name{
	padding-bottom: 5px;
	border-bottom: 1px #343A40 solid;
}
.price_product_basket{
	padding-top: 10px;
	font-size: 13px;
}

.count_product_input{
	width: 28%;
	border-radius: 0;
	margin-right: 15px;
	text-align: center;
}

.image_product_in_basket img{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#change_count_product{
	border-radius: 0;
	width: 35%;
	font-size: 18px;
}

.description_size_bloc_basket {
	background: white;
	padding-left: 125px;
	padding-top: 15%;
	padding-right: 125px;
}
.description_in_basket{
	color: black;
	max-width: 250px;
	border-bottom: 1px #343A40 solid;
	font-style: italic;
	padding: 10px;
}

.size_in_basket{
	padding: 10px;
	color: black;
	margin: 0 auto;
	text-align: center;
}
.count_in_basket{
	background-color: #b6acac;
	text-align: center;
	padding-top: 18%;
	width: 30%;
}

.count_in_basket_p{
	color: black;
}


.error_basket{
	width: 80%;
	margin: 0 auto;	
	margin-top: 50px;
	text-align: center;
	padding: 35px;
	background-color: #973A40;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 5px;
	color: #f8f8f8;
    
}
.error_basket a,p{
	color: #f8f8f8;
}
.error_basket #registration_link{
	width: 15%;
	margin: 0 auto;
    margin-top: 25px;
}

img{
	overflow: hidden;
}

.personal_page{	
	width: 70%;
	background: #343A40;
	margin: 35px auto;
	padding: 45px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.personal_page h3{
	color: #f8f8f8;
	width: 48%;
	margin: 0 auto;
	padding: 8px;
	border-bottom: 3px solid darkcyan;
}
.personal_page p{
	color:#f8f8f8;
}

#personal_page_header{
	width: 60%;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	align-items: center;
}

label{
	color: #f8f8f8;
}
#personal_page_menu{
	width: 50%;
	margin: 0 auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

#personal_page_menu a {
	color: #f8f8f8;
	margin-top: 25px;
	width: 40%;
	font-size: 17px;
}

#personal_page_menu a:hover{
	transition: .4s;
	color: grey;
}

#add_product_form{
	padding: 45px;
	display: flex;
	flex-direction: column;
}

span{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 35px;
}
span:focus{
	outline: none;
}

span select{
	font-size: 17px;
  font-size: inherit;
  padding: .2em;
  padding-right: 2.5em;	
  border: 0;
  border-radius: 3px;
  text-indent: 0.01px;
}

.field_change{
	width: 100%;
	padding: 25px;
	color: #f8f8f8;
	margin: 5px;
	display: flex;
	justify-content: left;
	align-items: center;
	border-bottom: 3px darkcyan solid;
	vertical-align: bottom;
}



.title{
	text-align: center;
	align-items: center;
	vertical-align: middle;
	margin-right: 35px;
	color: #f8f8f8;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

.element{
	width: 60%;
	
	vertical-align: middle;
}

.element input{
	margin-top: 0;
}

.size_element_block{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.size_element_block .title{
	margin: 0;
	padding: 5px;
}

.title input{
	width: 40%;
	margin: 5px auto;
	padding: 3px;
	text-align: center;
}



.activation_block{
	width: 40%;
	margin: 0 auto;
	padding: 25px;
	text-align: center;
	font-size: 27px;
	background: #f8f8f8;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#message_block{
	position: fixed;
	left: 17%;
	top: 20%;
	width: 65%;
	padding: 45px;
	margin: 0 auto;
	background-color: #f8f8f8;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	display: none;
	text-align: center;
	font-size: 22px;
	align-items: center;
}
#message_block p{
	color: black;
}

.info_msg{
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
	color: #f8f8f8;
	display: none;
}

#add_seller{
	width: 50%;
	background: #343A40;
	margin: 35px auto;
	padding: 45px;
	align-items: center;
	text-align: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#add_seller button{
	background: #535e68;
	width: 25%;
}

#add_seller button:hover{
	background: darkcyan;
	transition: .7s;
}

#add_seller input{
	margin-top: 20px;
	width: 65%;
}

#add_product_button{
	color: #f8f8f8;
	width: 25%;
	margin: 35px auto;
	background: darkcyan;	
}

#add_product_button:hover{
	background: #535e68;
	transition: .7s;
}

.personal_page input{
	box-shadow: none;
}

input[type="file"]{
	color:#f8f8f8;
}

#delete_product{
	width: 50%;
	background: #343A40;
	margin: 35px auto;
	padding: 45px;
	align-items: center;
	text-align: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#delete_product_button{
	margin-top: 27px;
}
#delete_product_button:hover{
	background: #973A40;
	transition: .7s;

}

.content_zone{
	width: 85%;
	margin: 0 auto;
	padding: 45px;
	background: #343A40;
	display: flex;
	justify-content: space-evenly;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	flex-wrap: wrap;
}

.product_block{
	margin-bottom: 45px;
	margin-right: 45px;
	background: #f8f8f8;
	width: 23%;
	display: block;
	min-height: 400px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.product_block p{
	color: black;
}

.product_block:hover{
	opacity: 0.7;
	transition: .5s;
}
.image_block{
	width: 100%;
	height: 80%;
	background: #973A40;
	align-items: center;
	text-align: center;
}

.image_block img{
	max-height: 355px;
	width: 100%;
	height: 100%;
}

.product_details{
	width: 100%;
	padding: 20px;
}
#product_name{
	font-weight: bold;
	border-bottom: 1px darkcyan solid;
}

.logout_block{
	width: 35%;
	margin: 0 auto;
	padding: 45px;
	align-items: center;
	text-align: center;
}
#logout_button{
	width: 35%;
	margin: 0 auto;
	background: #535e68;
}
#logout_button:hover{
	background: darkcyan;
	transition: .3s;
}



.image_zone_product_id{
	padding: 0;
	width: 40%;
	max-height: 650px;
	box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
}
.image_zone_product_id img{
	width: 100%;
	max-height: 650px;
}

.info_zone_product_id{
	width: 40%;
	height: 50%;
	background: #b8b8b8;
	margin-top: 70px;
	padding: 25px;
	box-shadow: 5px 0 5px -5px rgba(0, 0, 0, .5);
	display: flex;
	flex-direction: column;
}

.product_name-zone{
	max-width: 70%;
	border-bottom: 2px #f5f5f5 solid;
	padding-left: 15px;
	padding-bottom: 5px;
	font-size: 18px;
    font-weight: bold;
}

.product_description_zone{
	max-width: 85%;

	padding: 45px 15px 25px 15px;
	overflow: hidden;
}

.product_description_zone p{
	color: black;
}

.size_select_zone{
	width: 85%;
	padding: 25px 15px 25px 15px;
}

.size_select_zone select{
	outline: none;
	width: 75%;
	height: 30px;
	text-align: center;
	align-items: center;
	padding-left: 10px;
	font-size: 14px;
}
select option{
	height: 40px;
}

.price_product_id{
	max-width: 85%;

	padding-left: 15px;
	padding-top: 25px;
	overflow: hidden;
}
.price_product_id p{
	color: black;
}

.basket_favorites-zone{
	max-width: 85%;

	padding-left: 15px;
	padding-top: 5px;
	overflow: hidden;
}

.basket_favorites-zone button{
	width: 65%;
	font-size: 18px;
	border-radius: 0;
}

#add_into_favorite_button{

}


#delete_into_basket_button:hover{
	background: #973A40;
}

.search_product_block{
	width: 90%;
	padding: 45px;
	margin: 0 auto;
	background: #343A40;
	align-items: center;
	text-align: center;
	box-shadow: 5px 0 5px -5px rgba(0, 0, 0, .5);
}

.search_product_block input{
	width: 45%;
}

.search_product_block button{
	width: 15%;
}

.search_product_block .content_zone{
	margin-top: 45px;
	box-shadow: none;

}














