<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  <title>UnityShop</title>
  <link rel="icon" type="image/png" href="ISLAM.jpg">
  <style type="text/css">
    body{
      padding: 45px;
      background: #973A40;
      font-size: 27px;
    }
  </style>
</head>
<body background="#973A40">


  <div class="activation_block" align="center">
    <p>Увы, активация не удалась... Видимо, пользователь не был найден.</p>
  </div>



</div>
</body>
</html>