<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Разделы</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<title>UnityShop</title>
	<link rel="icon" type="image/png" href="ISLAM.jpg">
</head>
<body>
    
		<div class="header">
			<div class="logo">
				<a class="BackToMain" href="index.html">
					<img src="../static/Изображения/Icons/Unity.jpg" width="288" height="150" hspace="40.5">
				</a>
			</div>

			<nav class="cataloge">
				<ul>
					<li class="main_list_cataloge">
						<a href="#">Мужчины</a>

						<ul class="sub_cataloge">
							<li class="sub_list_cataloge">
						        <a href="#">Куртки</a> 
				            </li>
				            <li class="sub_list_cataloge">
						        <a href="#">Худи</a> 
				            </li>
				            <li class="sub_list_cataloge">
						        <a href="#">Футболки</a> 
				            </li>
				            <li class="sub_list_cataloge">
						        <a href="#">Брюки</a> 
				            </li>
				            <li class="sub_list_cataloge">
						        <a href="#">Обувь</a> 
				            </li>
				            <li class="sub_list_cataloge">
						        <a href="#">Аксессуары</a> 
				            </li>
						</ul> 
				    
				    </li>
					<li class="main_list_cataloge">
						<a href="#">Женщины</a> 

						<ul class="sub_cataloge">
							<li class="sub_list_cataloge">
						        <a href="#">Куртки</a> 
				            </li>
				            <li class="sub_list_cataloge">
						        <a href="#">Худи</a> 
				            </li>
				            <li class="sub_list_cataloge">
						        <a href="#">Футболки</a> 
				            </li>
				            <li class="sub_list_cataloge">
						        <a href="#">Брюки</a> 
				            </li>
				            <li class="sub_list_cataloge">
						        <a href="#">Обувь</a> 
				            </li>
				            <li class="sub_list_cataloge">
						        <a href="#">Аксессуары</a> 
				            </li>
						</ul> 

				    </li>
					<li class="main_list_cataloge">
						<a href="#">Дети</a> 
				    </li>
					<li class="main_list_cataloge">
						<a href="photo_album.html">Фотоальбом</a> 
				    </li>
				</ul>
			</nav>

 

			<nav class="menu">
				<a class="menu_user" href="basket.html"><img src="../static/Изображения/Icons/Корзина.png" width="24" height="24"></a>
				<a class="menu_user" href="start_session.html"><img src="../static/Изображения/Icons/Профиль2.png" width="30" height="24"></a>
			</nav>
		</div>

        <div class="containerMain">
        	

        	<div class="productBlock">
        		
        	</div>
        </div>
	</div>
</body>
</html>