<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
	<title>UnityShop</title>
	<link rel="icon" type="image/png" href="ISLAM.jpg">
	<script src="js/jquery-3.0.0.min.js"></script>
</head>
<body>
		<div class="header">
			<div class="logo">
				<a class="BackToMain" href="/">
					<img src="Images/Icons/Unity.jpg" width="288" height="150" hspace="40.5">
				</a>
			</div>

			<nav class="cataloge">
				<ul>
					<li class="main_list_cataloge">
						<a href="#">Мужчины</a>

						<ul class="sub_cataloge">
							<li class="sub_list_cataloge">
								<a href="/Mens/Jacket">Куртки</a>
							</li>
							<li class="sub_list_cataloge">
								<a href="/Mens/Hoody">Худи</a>
							</li>
							<li class="sub_list_cataloge">
								<a href="/Mens/T-shirt">Футболки</a>
							</li>
							<li class="sub_list_cataloge">
								<a href="/Mens/Trousers">Брюки</a>
							</li>
							<li class="sub_list_cataloge">
								<a href="/Mens/Accessories">Аксессуары</a>
							</li>
						</ul>

					</li>
					<li class="main_list_cataloge">
						<a href="#">Женщины</a>

						<ul class="sub_cataloge">
							<li class="sub_list_cataloge">
								<a href="/Woomens/Jacket">Куртки</a>
							</li>
							<li class="sub_list_cataloge">
								<a href="/Woomens/Hoody">Худи</a>
							</li>
							<li class="sub_list_cataloge">
								<a href="/Woomens/T-shirt">Футболки</a>
							</li>
							<li class="sub_list_cataloge">
								<a href="/Woomens/Trousers">Брюки</a>
							</li>
							<li class="sub_list_cataloge">
								<a href="/Woomens/Accessories">Аксессуары</a>
							</li>
						</ul>

					</li>


					<li class="main_list_cataloge">
						<a href="/photo_album">Фотоальбом</a>
					</li>
				</ul>
			</nav>

			<nav class="menu">
				<a class="menu_user" href="/basket"><img src="Images/Icons/Корзина.png" width="24" height="24"></a>
				<a class="menu_user" href="/account"><img src="Images/Icons/Профиль2.png" width="30" height="24"></a>
			</nav>
		</div>

	
		<div class="containerMain">
			<div id="start_session_block">

				<div id="sign_in_block">
					<h3>Войдите в систему</h3>
					<form id="sign_in_form" action="/sign_in_user" onsubmit="return false">
						<p><input id="username_sign_in" type="text" name="username" placeholder="Логин" required></p>
					    <p><input id="password_sign_in" type="password" name="password" placeholder="Пароль" required></p>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
						<button id="sign_in_button" onclick="signIn()">Войти</button>
					</form>
					<div class="info_msg" id="info_msg_id">Неправильно введены логин или пароль</div>

					                   
				</div>
				
				<div id="sign_up_block">
					<h3>Зарегистрируйтесь</h3>
					<p>ЕСЛИ У ВАС ЕЩЕ НЕТ АККАУНТА ПОЛЬЗОВАТЕЛЯ, ИСПОЛЬЗУЙТЕ ЭТУ ОПЦИЮ ДЛЯ РЕГИСТРАЦИИ.
					МЫ ЗАПРОСИМ У ВАС ИНФОРМАЦИЮ, НЕОБХОДИМУЮ ДЛЯ УСКОРЕНИЯ ПРОЦЕССА ПОКУПКИ.
					</p>
					<div id="registration_link">
						<a href="/sign_up">Регистрация</a>
					</div>
				</div>
			</div>
			
		</div>
	

	
</div>
</body>
<script src="js/JavaScript.js"></script>
</html>