<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Разделы</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../Static/css/style.css">
  <script src = "/js/jquery-3.0.0.min.js"></script>
  <title>UnityShop</title>
  <link rel="icon" type="image/png" href="/ISLAM.jpg">
</head>
<body>

<div class="header">
  <div class="logo">
    <a class="BackToMain" href="/">
      <img src="/Images/Icons/Unity.jpg" width="288" height="150" hspace="40.5">
    </a>
  </div>

  <nav class="cataloge">
    <ul>
      <li class="main_list_cataloge">
        <a href="#">Мужчины</a>

        <ul class="sub_cataloge">
          <li class="sub_list_cataloge">
            <a href="/Mens/Jacket">Куртки</a>
          </li>
          <li class="sub_list_cataloge">
            <a href="/Mens/Hoody">Худи</a>
          </li>
          <li class="sub_list_cataloge">
            <a href="/Mens/T-shirt">Футболки</a>
          </li>
          <li class="sub_list_cataloge">
            <a href="/Mens/Trousers">Брюки</a>
          </li>
          <li class="sub_list_cataloge">
            <a href="/Mens/Accessories">Аксессуары</a>
          </li>
        </ul>

      </li>
      <li class="main_list_cataloge">
        <a href="#">Женщины</a>

        <ul class="sub_cataloge">
          <li class="sub_list_cataloge">
            <a href="/Woomens/Jacket">Куртки</a>
          </li>
          <li class="sub_list_cataloge">
            <a href="/Woomens/Hoody">Худи</a>
          </li>
          <li class="sub_list_cataloge">
            <a href="/Woomens/T-shirt">Футболки</a>
          </li>
          <li class="sub_list_cataloge">
            <a href="/Woomens/Trousers">Брюки</a>
          </li>
          <li class="sub_list_cataloge">
            <a href="/Woomens/Accessories">Аксессуары</a>
          </li>
        </ul>

      </li>


      <li class="main_list_cataloge">
        <a href="/photo_album">Фотоальбом</a>
      </li>
    </ul>
  </nav>



  <nav class="menu">
    <a class="menu_user" href="/basket"><img src="/Images/Icons/Корзина.png" width="24" height="24"></a>
    <a class="menu_user" href="/account"><img src="/Images/Icons/Профиль2.png" width="30" height="24"></a>
  </nav>
</div>

<div class="containerMain">
  <div class="basket_block">

    <div class="header_basket">
      <div class="left_header">
        <h1>Склад товаров</h1>
        <p id="sum">На складе: 65 позиции</p>
      </div>
    </div>


    <div class="list_products">

      <div class="product_in_basket">
        <a href="#" class="image_info_block">
          <div class="image_product_in_basket">
            <img src="../Static/Images/Product/9e813034df741c5b621228323bec7467.jpg">
          </div>
          <div class="info_about_product_basket">
            <p id="product_name">Name of product</p>
            <p id="price_product_basket">6000р</p>
          </div>

        </a>
        <div class="description_size_bloc_basket">

          <div class="description_product_basket">
            <p id="description_in_basket">Описание: Брюки женские черного цвета на поясе</p>
          </div>

          <div class="size_product_basket">
            <p id="size_in_basket">Размер: S </p>
          </div>
        </div>
        <div class="count_in_basket">
          <p id="count_in_basket_p">В корзине: 5</p>
          <input type="number" id="count_product_input" placeholder="Кол-во">
          <button type="submit" id="change_count_product">Обновить</button>
        </div>

      </div>


    </div>





  </div>
</div>
</div>

  </div>
</div>
</body>
<script src = "/js/allProducts.js"></script>
</html>